

$primary: #426ae0;


@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

.plus_minus{
  border: 1px ;
  background-color: #fafafa;
  width: 100px;
  height: 30px;
}


